# Fifa19 Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Fifa19 Dataset](https://www.kaggle.com/winterbreeze/fifa19eda) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [3]:
import pandas as pd

**Read fifa_eda.csv as a dataframe called fifa.**

In [4]:
df = pd.read_csv(r"D:\codingenv\deploma\project\fifa_eda.csv")

**Check the head of the DataFrame.**

In [5]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

**Use the .info() method to find out how many entries there are.**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
ID                          18207 non-null int64
Name                        18207 non-null object
Age                         18207 non-null int64
Nationality                 18207 non-null object
Overall                     18207 non-null int64
Potential                   18207 non-null int64
Club                        17966 non-null object
Value                       17955 non-null float64
Wage                        18207 non-null float64
Preferred Foot              18207 non-null object
International Reputation    18159 non-null float64
Skill Moves                 18159 non-null float64
Position                    18207 non-null object
Joined                      18207 non-null int64
Contract Valid Until        17918 non-null object
Height                      18207 non-null float64
Weight                      18207 non-null float64
Release Clause              18207 non-null float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [7]:
df.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

**Use the .describe() method to get some statistics for the numeric categorical of the data**

In [78]:
df[['Name',"Nationality","Club","Preferred Foot","Position","Contract Valid Until"]].describe()

,Name,Nationality,Club,Preferred Foot,Position,Contract Valid Until
count,18207,18207,17966,18207,18207,17918
unique,17194,164,651,2,27,35
top,J. Rodríguez,England,CD Leganés,Right,ST,2019-01-01
freq,11,1662,33,13996,2154,4870

In [8]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.000000
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.000000
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.000000
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.000000
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.000000
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.000000
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.000000
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.000000
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.000000
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.000000
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.000000
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.000000
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.000000
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.000000
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.000000
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.000000
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.000000
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.000000
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.000000
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.000000
20,189511,Sergio Busquets,29,Spain,89,89,FC Barcelona,51500.0,315.0,Right,4.0,3.0,CDM,2008,2023-01-01,6.166667,168.0,105600.000000
21,179813,E. Cavani,31,Uruguay,89,89,Paris Saint-Germain,60000.0,200.0,Right,4.0,3.0,LS,2013,2020-01-01,6.083333,170.0,111000.000000
22,167495,M. Neuer,32,Germany,89,89,FC Bayern München,38000.0,130.0,Right,5.0,1.0,GK,2011,2021-01-01,6.333333,203.0,62700.000000
23,153079,S. Agüero,30,Argentina,89,89,Manchester City,64500.0,300.0,Right,4.0,4.0,ST,2011,2021-01-01,5.666667,154.0,119300.000000
24,138956,G. Chiellini,33,Italy,89,89,Juventus,27000.0,215.0,Left,4.0,2.0,LCB,2005,2020-01-01,6.166667,187.0,44600.000000
25,231747,K. Mbappé,19,France,88,95,Paris Saint-Germain,81000.0,100.0,Right,3.0,5.0,RM,2018,2022-01-01,5.833333,161.0,166100.000000
26,209331,M. Salah,26,Egypt,88,89,Liverpool,69500.0,255.0,Left,3.0,4.0,RM,2017,2023-01-01,5.750000,157.0,137300.000000
27,200145,Casemiro,26,Brazil,88,90,Real Madrid,59500.0,285.0,Right,3.0,2.0,CDM,2013,2021-01-01,6.083333,185.0,126400.000000
28,198710,J. Rodríguez,26,Colombia,88,89,FC Bayern München,69500.0,315.0,Left,4.0,4.0,LAM,2016,2019-06-30,5.916667,172.0,4585.060806
29,198219,L. Insigne,27,Italy,88,88,Napoli,62000.0,165.0,Right,3.0,4.0,LW,2010,2022-01-01,5.333333,130.0,105400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18177,238550,R. Roache,18,Republic of Ireland,48,69,Blackpool,70.0,1.0,Right,1.0,2.0,ST,2016,2019-01-01,5.833333,163.0,193.000000
18178,243158,L. Wahlstedt,18,Sweden,48,65,Dalkurd FF,50.0,1.0,Right,1.0,1.0,GK,2018,2018-01-01,6.000000,176.0,94.000000
18179,246243,J. Williams,17,England,48,64,Northampton Town,50.0,1.0,Right,1.0,2.0,CB,2018,2020-01-01,6.166667,163.0,119.000000
18180,221669,M. Hurst,22,Scotland,48,58,St. Johnstone FC,40.0,1.0,Right,1.0,1.0,GK,2013,2019-01-01,6.083333,172.0,78.000000
18181,245734,C. Maher,17,Republic of Ireland,48,66,Bray Wanderers,50.0,1.0,Right,1.0,2.0,RB,2017,2018-01-01,5.916667,134.0,109.000000
18182,246001,Y. Góez,18,Colombia,48,65,Atlético Nacional,50.0,1.0,Right,1.0,2.0,CDM,2018,2021-01-01,5.833333,165.0,101.000000
18183,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1.0,Right,1.0,1.0,GK,2018,2023-01-01,6.166667,190.0,4585.060806
18184,241657,D. Horton,18,England,48,55,Lincoln City,40.0,1.0,Right,1.0,2.0,CM,2017,2021-01-01,6.083333,179.0,78.000000
18185,243961,E. Tweed,19,Republic of Ireland,48,59,Derry City,50.0,1.0,Right,1.0,2.0,LCM,2018,2018-01-01,5.916667,159.0,88.000000
18186,240917,Zhang Yufeng,20,China PR,47,64,Beijing Renhe FC,60.0,1.0,Right,1.0,2.0,CM,2016,2019-01-01,5.833333,174.0,167.000000
18187,240158,C. Ehlich,19,Germany,47,59,SpVgg Unterhaching,40.0,1.0,Right,1.0,2.0,RB,2017,2020-01-01,5.833333,161.0,66.000000
18188,240927,L. Collins,17,Wales,47,62,Newport County,60.0,1.0,Right,1.0,2.0,CM,2017,2021-01-01,5.833333,148.0,143.000000
18189,240160,A. Kaltner,18,Germany,47,61,SpVgg Unterhaching,60.0,1.0,Right,1.0,2.0,ST,2017,2020-01-01,5.833333,165.0,125.000000
18190,245569,L. Watkins,18,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,CM,2018,2021-01-01,5.750000,176.0,165.000000
18191,245570,J. Norville-Williams,18,England,47,65,Cambridge United,50.0,1.0,Left,1.0,2.0,LB,2018,2021-01-01,5.916667,168.0,119.000000
18192,245571,S. Squire,18,England,47,64,Cambridge United,50.0,1.0,Right,1.0,2.0,CDM,2018,2021-01-01,6.083333,165.0,119.000000
18193,244823,N. Fuentes,18,Chile,47,64,Unión Española,50.0,1.0,Right,1.0,2.0,RB,2018,2021-01-01,5.666667,146.0,99.000000
18194,245862,J. Milli,18,Italy,47,65,Lecce,50.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,6.250000,187.0,109.000000
18195,243582,S. Griffin,18,Republic of Ireland,47,67,Waterford FC,60.0,1.0,Right,1.0,2.0,CM,2018,2018-01-01,5.666667,141.0,153.000000
18196,238477,K. Fujikawa,19,Japan,47,61,Júbilo Iwata,60.0,1.0,Right,1.0,2.0,CM,2017,2021-01-01,5.583333,146.0,113.000000
18197,246167,D. Holland,18,Republic of Ireland,47,61,Cork City,60.0,1.0,Right,1.0,2.0,CM,2018,2018-01-01,5.833333,141.0,88.000000
18198,242844,J. Livesey,18,England,47,70,Burton Albion,60.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,5.916667,154.0,165.000000
18199,244677,M. Baldisimo,18,Canada,47,69,Vancouver Whitecaps FC,70.0,1.0,Right,1.0,2.0,CM,2018,2021-01-01,5.500000,150.0,175.000000
18200,231381,J. Young,18,Scotland,47,62,Swindon Town,60.0,1.0,Left,1.0,2.0,ST,2015,2019-01-01,5.750000,157.0,143.000000
18201,243413,D. Walsh,18,Republic of Ireland,47,68,Waterford FC,60.0,1.0,Left,1.0,2.0,RB,2018,2018-01-01,6.083333,168.0,153.000000
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.000000
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.000000
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.000000
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.000000
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.000000

**What is the average Age ?**

In [13]:
df["Age"].mean()

25.122205745043114

**What is the greatest Height? and name of the player with that height?**

In [15]:
# greatest height
df["Height"].max()

6.75

In [25]:
# name of the player
heighest_players =  df[df["Height"] == df["Height"].max()]
heighest_players["Name"]

11614      T. Holý
17927    D. Hodzic
Name: Name, dtype: object

**What is the smallest weight? and name of the player with that weight? and for which club plays?**

In [26]:
df["Weight"].min()

110.0

In [31]:
# name of the player
thinest_players = df[df["Weight"]== df["Weight"].min()]
thinest_players[["Name","Club"]]

                Name             Club
13338  B. Al Mutairi         Al Batin
17157   K. Yamaguchi  Shonan Bellmare

**What is the position of Cristiano Ronaldo?**

In [32]:
cr = df[df["Name"]=="Cristiano Ronaldo"]
cr["Position"]

1    ST
Name: Position, dtype: object

**What was the average (mean) Value of all players per year(Joined column) ?**

In [39]:
df.groupby("Joined")[['Value']].mean()

               Value
Joined
1991      160.000000
1998      106.666667
1999       40.000000
2000      110.000000
2001      237.500000
2002     2351.250000
2003     1148.076923
2004    10415.833333
2005     5544.705882
2006     1208.055556
2007     4730.789474
2008     5377.924528
2009     3468.269231
2010     5240.839695
2011     4868.241206
2012     3840.988201
2013     4181.320961
2014     3549.077017
2015     3335.755988
2016     2511.245432
2017     2125.398374
2018     1913.759519

**get Number of players for each club**

In [40]:
df.groupby("Club")[['Name']].count()

                          Name
Club
 SSV Jahn Regensburg        29
1. FC Heidenheim 1846       28
1. FC Kaiserslautern        26
1. FC Köln                  28
1. FC Magdeburg             26
1. FC Nürnberg              29
1. FC Union Berlin          28
1. FSV Mainz 05             32
AC Ajaccio                  23
AC Horsens                  25
AD Alcorcón                 29
ADO Den Haag                28
AEK Athens                  28
AFC Wimbledon               26
AIK                         27
AJ Auxerre                  27
AS Béziers                  26
AS Monaco                   33
AS Nancy Lorraine           30
AS Saint-Étienne            24
AZ Alkmaar                  30
Aalborg BK                  27
Aarhus GF                   27
Aberdeen                    27
Accrington Stanley          28
Adelaide United             25
Ajax                        30
Akhisar Belediyespor        26
Al Ahli                     30
Al Batin                    30
...                        ...
Vitesse                     28
Vitória                     20
Vitória Guimarães           30
Vitória de Setúbal          28
Vålerenga Fotball           26
Vélez Sarsfield             28
Waasland-Beveren            28
Walsall                     27
Waterford FC                25
Watford                     29
Wellington Phoenix          21
West Bromwich Albion        30
West Ham United             32
Western Sydney Wanderers    25
Wigan Athletic              30
Willem II                   28
Wisła Kraków                26
Wisła Płock                 26
Wolfsberger AC              26
Wolverhampton Wanderers     33
Wycombe Wanderers           25
Yeni Malatyaspor            30
Yeovil Town                 28
Yokohama F. Marinos         30
Zagłębie Lubin              27
Zagłębie Sosnowiec          25
Çaykur Rizespor             30
Örebro SK                   27
Östersunds FK               22
Śląsk Wrocław               25

[651 rows x 1 columns]

**How many unique Clubs are there?**

In [47]:
df["Club"].nunique()

651

**What are the top 5 most common positions?**

In [51]:
df.groupby("Position")[['Position']].count().sort_values(by='Position', ascending=False).head()

          Position
Position
ST            2154
GK            2027
CB            1779
CM            1395
LB            1372

**What are the top 5 most common nationality?**

In [52]:
df.groupby("Nationality")[['Nationality']].count().sort_values(by='Nationality', ascending=False).head()

             Nationality
Nationality
England             1662
Germany             1198
Spain               1072
Argentina            937
France               914

**What are the names of players has Egyptian Nationality?**

In [55]:
Egyptian_players = df[df["Nationality"]== "Egypt"]
Egyptian_players["Name"]

26             M. Salah
752           Trezeguet
959           M. Elneny
1517          A. Hegazi
2241          A. Hassan
2259            Kahraba
2334           R. Sobhi
3310      A. Elmohamady
3616           A. Warda
3929          A. Ghazal
4044           A. Tarek
4217          Shikabala
4504         A. El Said
5614           A. Fathi
5913           M. Hamdy
5944           S. Morsy
6021          A. Ashraf
6407          S. Ekramy
6717            A. Gabr
6804           O. Gaber
7102     M. Abdul Shafy
8325          A. El-Abd
8441           T. Hamed
9165      M. El-Shenawy
9228        H. El Sayed
9297            M. Awad
9514        A. Jakobsen
9665           K. Hafez
9911          M. Mohsen
10672           M. Atwa
13891        A. Mostafa
Name: Name, dtype: object

**How many players joined in 2018 with skill moves=2?**

In [70]:
 skilles = df[(df["Joined"]== 2018) & (df["Skill Moves"]==2)].count()
 skilles["Name"]

3295

**How many players whom name starts with letter  'M'? (This is pretty tricky)**

In [72]:
m = df[df['Name'].str.startswith('M')].count()
m["Name"]

1975

**Bonus: Is there a correlation between International Reputation and Wage?**

In [79]:
 df['International Reputation'].corr(df['Wage'])

0.66863463530060796

# Great Job!